In [16]:
import psycopg2
import pandas as pd

In [6]:
df_detalles_artistas = pd.read_csv("../data/detalles_artistas.csv")
df_detalles_peliculas = pd.read_csv("../data/detalles_peliculas.csv")
df_pelicula_artista = pd.read_csv("../data/pelicula_artista.csv")
df_pliculas = pd.read_csv("../data/peliculas.csv")

In [15]:
df_detalles_artistas.head(2)

,actr,año_nac,conocido_por,que_hace,premios
0,A. Gunaseelan,9999,'Mandela',"Casting Department, Actress, Casting Director",1 nomination
1,A. Michelle Harleston,9999,"'Murder by Numbers', 'The Mark of a Killer', '...",Actor,no tiene premios

In [14]:
df_detalles_peliculas.head(2)

,titulo,cali_imdb,direc_imbd,guion_imbd,argum_imbd,durac_imbd,id_pelicula
0,Las Travesuras de Super Chido,7.7,Alejandro Todd,Óscar FentanesJuan Garrido,Desconocido,1h 35min,tt0320656
1,Velai Kidaichiruchu,5.2,P. Vasu,SathyarajGautamiAnandraj,"Baasha, a gangster, controls a whole village w...",Desconocido,tt0318803

In [13]:
df_pelicula_artista.head(2)

    Movie ID       Actriz_Actor
0  tt0110660  Tony Ka Fai Leung
1  tt0110363       Luke Edwards

In [12]:
df_pliculas.head(2)

    Tipo                         Titulo   Año  Mes         Id generos
0  Movie  Las Travesuras de Super Chido  1990   10  tt0320656  Action
1  Movie            Velai Kidaichiruchu  1990    8  tt0318803  Action